@gutter_r1: 5px;

.uib_row_1 > .col { padding-left:(@gutter_r1 / 2); padding-right:(@gutter_r1 / 2); }

@media all and (min-width: @wp_1) {
  .uib_col_4     { width:75%;}
  .urow.cright       > .uib_col_4     { padding-left: 0px !important;}
  .urow:not(.cright) > .uib_col_4     { clear:left; padding-left: 0px !important; }
  .uib_col_1     { width:25%;}
  .urow:not(.cright) > .uib_col_1     { padding-right:0px !important;}
  .urow.cright       > .uib_col_1     { clear:right; padding-right:0px !important; }
}

@media all and (max-width: @wp_1) {
  .col-0_9-12     { width: auto; float: none !important;  clear:both; padding-left:0px !important; padding-right:0px !important; }
  .col-0_3-12     { width: auto; float: none !important;  clear:both; padding-left:0px !important; padding-right:0px !important; }
}
