/*
 * Copyright (c) 2012, Intel Corporation. All rights reserved.
 * File revision: 15 October 2012
 * Please see http://software.intel.com/html5/license/samples 
 * and the included README.md file for license terms and conditions.
 */


/* hacks to get smoother page transition, esp on older Androids */
.ui-page {

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: translate3d(0,0,0); 
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

}

/*--- login page and associated dialog boxes  -------------------------------*/

/* Custom footer colomn widths */
#custom-footer .ui-block-a {
    width: 80% !important;
    .ui-icon-myapp-email {
		background-image: url("app-icon-email-highres.png");
		background-size: 18px 18px;
	}
}

#custom-footer .ui-block-b {
    width: 20% !important;    
}


/* Custom content column widths */
#custom-content .ui-block-a {  
    width: 0% !important;    
}

#custom-content .ui-block-b {  
    width: 20% !important;    
}

#custom-content ui-block-f {
    width: 20% !important;    
}

#custom-content .ui-block-c, #custom-content .ui-block-e, #custom-content .ui-block-d {
    width: 20% !important;    
}



/* Custom content column widths */
custom-user-content #activeBtn {  
    width: 10% !important;    
}

custom-user-content #guestNameField, custom-user-content #macField, custom-user-content #timeField {
    width: 30% !important;    
}

custom-user-content #roomField {
    width: 20% !important;    
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e, custom-user-content #activeBtn, custom-user-content #guestNameField, custom-user-content #macField,  custom-user-content #roomField, custom-user-content #timeField {
      min-height: 30px;
}


/* add additional vertical padding at top since page is so sparse */
#loginPage .ui-content, #videoMonitorPage .ui-content, #activeBtn, #guestNameField, #macField, #roomField {
    padding-top: 30px;
}

/* make input visually prominent with min height and additional white space */
#loginPage input, #videoMonitorPage input,  #activeBtn, #guestNameField, #macField, #roomField {
    min-height: 30px;
    margin-bottom: 5px;
    padding: 9px;
}

/* offset label slightly so it doesn't appear hanging past corresponding input field */
#loginPage label, #videoMonitorPage label, #activeBtn, #guestNameField, #macField, #roomField  {
    padding-left: 5px;
}

/* no padding so that text fits in button w/o being chopped off */
#loginPage .ui-btn-inner, #videoMonitorPage .ui-btn-inner, #activeBtn, #guestNameField, #macField, #roomField {
    padding-left: 0px;
    padding-right: 0px;
}

/* no toolbar for header (just used to display info button at top-right corner) */
#loginPage .ui-header, #videoMonitorPage .ui-header, #activeBtn, #guestNameField, #macField, #roomField {
    min-height: 30px;
    background-image: none;
    background-color: transparent;
    border: 0px;
}

/* condensed formatting for very narrow devices (<= 300px wide) */
@media all and (max-width: 300px) {
    #loginPage .ui-content, #videoMonitorPage .ui-content, #activeBtn, #guestNameField, #macField, #roomField {
        padding: 5px;        /* shrink from jQM default 15px */
    }
    #loginPage input, #videoMonitorPage input, #activeBtn, #guestNameField, #macField, #roomField {
        min-height: 0px;     /* shrink from default 60px specified above */
        margin-bottom: 0px;  /* shrink from default 30px specified above */
    }
}

/* information dialog: small font */
#aboutMsg p {
    font-size: 12px;
}

/* instruction dialog: small font and wrap-around for long url */
#getKeyMsg p {
    font-size: 12px;
    white-space: pre-wrap;
    white-space: -webkit-pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    margin-right: -5px; /* otherwise unfortunate single-letter cutoff for popular 320px width */
}


/*--- primary page (list view) ----------------------------------------------*/

/* shrink default padding between thumbnail image and description */
.primaryPage .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    padding-left: 75px;
}

/*--- secondary page (details view) -----------------------------------------*/

/* visual effects to highlight basic info about movie */
.highlight-container {
    /* horizontal lines to delinate highlight section */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* slightly different gradient than default page background */
    background: #ffffff;
    background-image: -webkit-linear-gradient(#f1f1f1, #ffffff 50%);  
    background-image: -moz-linear-gradient(#f1f1f1, #ffffff 50%);
    background-image: -ms-linear-gradient(#f1f1f1, #ffffff 50%);
    background-image: -o-linear-gradient(#f1f1f1, #ffffff 50%);
    background-image: linear-gradient(#f1f1f1, #ffffff 50%);    
    /* make highlight background extend across entire page, but adjust padding accordingly */
    margin: -12px -15px 15px -15px;
    padding: 10px 15px;
    /* font styling */
    color: #506A16;
    font-size: 12px;
}

/* custom styling for heading text (age-appropriate rating + runtime in minutes) */
.highlight-heading {
    font-size: 16px;
    font-weight: bold;
}

/* custom styling for details text (cast members) */
.highlight-details {
    font-style: italic;
    margin: 2px 0px 10px 0px;
}

/* flex box layout to do Rotten Tomatoes numeric/icon rating and bar rating side by side */
.highlight-rating {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    margin: 0px;
    color: #506A16;
    font-size: 20px;
}

/* let bar take up remaining space */
.highlight-rating > :nth-child(2){
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

/* custom styling for synopsis text */
.synopsis {
    font-size: 12px;
    text-align:justify;
}

/*--- primary & secondary pages ----------------------------------------------*/

/* shrink default title padding to fit more of longer titles on small screens */
.ui-title {
    margin-left: 20% !important;
    margin-right: 20% !important;
}



    
    	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}

